<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @request.url %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @request.timestamp %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
